@import '../../base/variables';

.todo-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 15px;
  list-style: none;

  &:first-child {
    border-radius: 7px 7px 0 0;
  }

  &:last-child {
    border-radius: 0 0 7px 7px;
  }

  &__text {

    &.important {
      font-family: $PNB;
      color: tomato;
    }
  }
}