@import '../../base/variables';

.todo-item {
  width: 100%;
  padding: 8px 15px;
  list-style: none;

  &:first-child {
    border-radius: 7px 7px 0 0;
  }

  &:last-child {
    border-radius: 0 0 7px 7px;
  }

  &__text {
    position: relative;
    cursor: pointer;
    transition: color .2s ease;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 1px;
      background: #000;
      transition: width .2s ease;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-container.--important & {
      color: tomato;

      &:before {
        background: tomato;
      }
    }

    &-container.--important .todo-list-btn.--important {
      background-image: url(../../icns/star-red.svg);
    }

    &-container.--done &:before {
      width: 100%;
    }
  }
}