.todo-list-btn {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: background .2s ease;

  &.--done {
    background-image: url(../../icns/trash.svg);

    &:hover {
      background-image: url(../../icns/trash-red.svg);
    }
  }

  &.--important {
    background-image: url(../../icns/star.svg);


    &:hover {
      background-image: url(../../icns/star-red.svg);
    }
  }

  .line {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }

  &s {
    display: flex;
  }

  &:hover .line {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
  }
}